@model IEnumerable<mvccrud.Models.mvcimalatmodel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni", "EY", null, new {@class= "btn btn-danger"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnaMadde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YardimciMadde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsciMaliyeti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DigerMaddeler)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnaMadde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YardimciMadde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsciMaliyeti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DigerMaddeler)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "EY", new { id=item.ImalatNo }, new { @class = "btn btn-success" }) |
            
            @Html.ActionLink("Sil", "Sil", new {  id=item.ImalatNo }, new { @class = "btn btn-warning" })
        </td>
    </tr>
}

</table>
